<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
    	<typeAlias alias="DropDownItem" type="com.shield.frame.common.qvo.DropDownItem"/>
    	
        <package name="com.shield.frame.base.domain"/>

        <package name="com.shield.frame.index.dto"/>
        <package name="com.shield.frame.index.qvo"/>
        
        <package name="com.shield.frame.sysmng.dto"/>
        <package name="com.shield.frame.sysmng.qvo"/>
        
         <package name="com.shield.frame.upload.dto"/>
        <package name="com.shield.frame.upload.qvo"/>
        
        <package name="com.shield.hczz.recordsmng.qvo"/>
        <package name="com.shield.hczz.recordsmng.dto"/>
        
    </typeAliases>
</configuration>