body {
	font-family: "Microsoft Yahei";
	overflow:hidden;
}

.nav-box {
	width: 130px;
	overflow-x: hidden;
	background: #2678e8;
	color: #FFF;
	font-family: "Microsoft Yahei";
	font-size: 14px;
}

.nav-box a {
	text-decoration: none;
	color: #FFF;
}

.nav-title {
	width: 92px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	padding-left: 38px;
	background: url(../../image/menu_03.png) no-repeat 10px;
}

.nav-title a {
	font-size: 16px !important;
}

.nav-title1 {
	background: url(../../image/menu_09.png) no-repeat 10px;
}

.nav-title2 {
	background: url(../../image/menu_06.png) no-repeat 10px;
}

.nav-box-contain {
	width: 92px;
	height: 30px;
	line-height: 30px;
}

.nav-box-contain a {
	display: block;
}

.nav-box-contain a:hover {
	background: #FFF;
	color: #4d4d4d;
}


.container {
	width: 100%;
	/* height: 100%; */
	margin:0 auto;
	overflow: hidden;
	position:relative;
/*	overflow-y: auto;
	overflow-x:hidden;*/
}

.right-bar{
	position:absolute;
	right:0;
	top:30px;
	background:#D9E5F8;
	width:19px;
	height:95px;
	border-top-left-radius: 8px;
	border-bottom-left-radius:8px;
	padding:6px 0 0 6px;
	transition:all .2s;
}
.right-bar:hover{
	width:26px;
}
.right-bar span{
	line-height: 15px;
	color:#4D87E3;
}

/*Frame*/
.content{
	width: 98%;
	height: 100%;
	max-width: 1920px !important;
	min-width: 1366px !important;
	margin:0 auto;
}

.content-in{
	width: 100%;
	height: 100%;
}

#contentFrame{
	
}



/* LOGO鍜屽鑸� */
.header-nav {
	width: 100%;
	height: 55px;
	background-color: #36587B;
}
.shadow-nav{
	-webkit-box-shadow:0px 3px 5px #333333;
  	box-shadow:0px 3px 5px #333333; 
}

.nav-logo {
	width: 30%;
	float: left;
}

.nav-logo i {
	margin:4px 4px;
	height: 40px;
	width: 40px;
	/* display: block; */
	/*background: url(../../image/index/logo.png) no-repeat center;*/
	float:left;
}

.nav-logo h1 {
	height: 48px;
	line-height: 48px;
	display: inline-block;
	font-size: 18px;
	color:#fff;
}

.header-user {
	height: 48px;
	float: right;
	margin-right: 40px;
}

.clearfix {
	clear:both;
}

.head_notice,.head_right{
	height: 48px;
	line-height: 48px;
	display: inline-block;
}

.header-user span{
	color:#fff;
	font-size: 12px;
}

.notice_box{
	cursor: pointer;
}


.notice_box label{
	margin:10px;
	padding:0 10px;
	border-radius: 5px;
	background-color: #f00;
	color:#fff;
}
.notice_box i{
	display: inline-block;
	height: 22px;
	width: 22px;
}

.notice_box i>img{
	height: 100%;
	width:100%;
}


/*鐢ㄦ埛涓嬫媺*/
.hiddenDiv{
	background: #1f4264;
    color: #000;
    position: absolute;
    z-index: 999;
    right: 125px;
    top: 47px;
    width: 80px;
}
.hiddenDiv li{
	line-height:30px;
	color:#FFF;
	cursor:pointer;
	text-align:center;
	font-size:12px;
}
.hiddenDiv li:hover{
	background:#43688b;
}

.first-menu{
	float:left;
}

.first-list>li{
    margin: 10px 5px;
    height: 35px;
    line-height: 35px;
	padding:0 20px;
	cursor:pointer;
	display: inline-block;
	border-radius: 5px;
	color:#FFF;
	font-size:14px; 
}

.top-nav-active {
	background-color:#4381e6;
	color:#fff;
}
.a-quit{
	color:#FFF!important;
	font-size:12px!important;
}

.top-nav-query{
    position: absolute;
    right: 60px;
    height: 60px;
}
.top-nav-query img{
	width:24px;
	height:24px;
}
.top-nav-query i{
	margin-left:10px;
}
.top-nav-query input{
	width:200px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin:17px 0;
	padding-right: 20px;
	padding-left: 10px;
	vertical-align: middle;
	border:0;
	border-right:1px #ffffff solid;
	background:none;
	border-radius: 5px 0 0 5px;
	background:#FFF;
}

.top-nav-query input:focus{
	background-color:#fff;
}



/*渚ц竟浜岀骇鑿滃崟瀵艰埅*/
.nav {
	width: 200px;
    height: 680px;
    background-color: #36587B;
    float: left;
	margin-left:-210px;
}

.nav > ul{
	/*
	padding-top:10px;
	*/
}

.nav > ul li{
	font-size:16px;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	color:#779dc3;
}
.nav > ul li:hover{
	color:#FFF;
}
.active1 {
	color:#FFF !important;
	background:url(../../image/index/dian.png) no-repeat 25px center;
}
.active2 {
	color:#FFF !important;
	/*background:url(../../image/index/dian.png) no-repeat 25px center;*/
}
.nav > ul li i{
	background: url(../../img/commonImg/user.png) no-repeat center;
	display: inline-block;
	width: 50px;
	height:48px;
	float:left;
}


/*涓嬫媺浜岀骇鑿滃崟*/
.second-menu-list{
	display: none;
	position:absolute;
	margin-top: 10px;
	margin-left: -15px;
	border:1px solid #f2f2f2;
	box-shadow:0 2px 5px #f2f22;
	z-index:9;
}

.second-menu-list>li{
	padding:5px 15px;
	font-size: 14px;
	color:#2c80e9;
	height:30px;
	line-height: 30px;
	background: #fff;
	width:100px;
	text-align:center;
	
}

.second-menu-list>li:hover {
	color:#fff;
	background: #4381e6;
	position:relative;
	z-index:2;
}

.top-nav-active1{
	background-color:#2e6cd0;
	color:#fff;
}

