.outerborder{
	margin :0 10px 0 10px;
	box-shadow : 0 0 5px 3px #d1d1d1;
}
.outertitle{
	font-size : 16px;
	color : #4d4d4d;
    font-weight : 700;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
    border-bottom: 1px solid #dddddd;
    width:97%;
}
.panelTitle{
	font-size : 14px;
	color : #4d4d4d;
	font-weight : 700;
	border-bottom : 0px;
	border-top: 1px solid #dddddd;
	height: 14px;
    line-height: 14px;
    padding: 20px 0 20px 20px;
}

.panelTitle-button{
	height: 30px;
    line-height: 30px;
}

.panelTitle-noTopBorder{
	border-top: 0px;
}
.task,.cxnr,.ajxx{
	width: 100%;
}
.task td,.cxnr td,.ajxx td{
    padding: 2px 0 2px 0;
    border:20px solid #FFF;
    border-top:0px;
}
td.tb-left{
	background:#e5e5e5;
	border-right:none!important;
	text-align: center;
}
td.tb-right{
	border-left:none!important;
	padding:0!important;
}
.task td input,.cxnr td input,.ajxx td input{
    width:100%;
    height:32px;
    line-height:32px;
    text-indent:5px;
    border:1px solid #e5e5e5;
}
.task td select,.cxnr td select,.ajxx td select{
    width:100%;
    height:34px;
    text-indent:5px;
    padding:5px 0;
    border:1px solid #ddd;
    border-radius: 0;
}
.task td textarea,.cxnr td textarea,.ajxx td textarea{
    width:100%;
    border:1px solid #e5e5e5;
    resize:none;
    overflow: hidden;
    float:left;
    box-sizing : border-box;
    padding: 5px;
}
.requ{
	color:red;
}
#addCxnrBtn{
	/* position: absolute;
	top: -20px;
	left:50px; */
}
.panelContent{
	padding-bottom: 0px;
}
.panelContent table{
	font-size : 14px;
    color : #4d4d4d;
}
.fileadd{
	position: relative;
	display: inline-block;
	margin-left:15px;
}
.cxnrOptBtn{
	float:right;
}
.option-cxnr{
	width: 55px;
    height: 21px;
    display: inline-block;
    text-align: right;
    color : #4080ee !important;
    text-decoration: underline;
    margin-left: 15px;
}
.deleteCxnr{
	background: url(../../image/hcsq/del.png) no-repeat left;
}
.saveCxnr{
    background: url(../../image/hcsq/save.png) no-repeat left;
}
.combo-panel{
	border:1px solid #ddd;
}
.wspanel{
	padding:0 111px;
}
.wsfjspan{
	padding: 0 25px 0 25px;
	background: url(../../image/hcsq/file.png) no-repeat left;
}
/* #flwstree span{
	display: block;
	font-size : 14px;
    color : #4d4d4d;
    margin-left: 30px;
    height:35px;
    line-height: 35px;
}
#flwstree .rootItem{
	padding-left: 25px;
    background: url(../../image/hcsq/root.png) no-repeat left;
}
#flwstree .wszlItem{
	margin-left: 60px;
	padding-left: 25px;
    background: url(../../image/hcsq/root.png) no-repeat left;
}
#flwstree .wslxItem{
	margin-left: 90px;
	padding-left: 25px;
	line-height:35px;
	height:35px;
	color:#545454;
    background: url(../../image/hcsq/file.png) no-repeat left;
}
#flwstree .flws-table-td{
	width: 250px;
} */
.dlzbinput{
	width: 100px !important;
}
.dlzbspan{
	padding: 0 10px;
}
.tooltips {
    position: absolute;
    display: block;
    color: #f73723;
    font-size: 12px;
}
.spdialog-table{
	width: 376px;
	margin: 1% auto;
	font-size: 14px;
	border-collapse: collapse;
}
.spdialog-table td{
	padding-right:10px;
	border:1px dotted #d9d9d9;
}
.spdialog-table td.left{
	background:#f1f1f1;
}
.spdialog-table td.top{
	border:0 none;
	color:#4381e6;
	height:50px;
	line-height:50px; 
	padding-left:10px;
	font-weight:700;
	font-size:14px;
}
.clear{
	margin:0;
	padding:0;
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
}
#markpointbtn{
	background: url(../../image/hcsq/bd.png) no-repeat center;
	float: right;
	cursor: pointer;
	width:20px;
	height:32px;
}
.bottomBtn a{
	margin-right:10px;
}